<div class="nested-fields">
  <%= f.association :additional_service, collection: AdditionalService.all.decorate, label_method: :description %>
  <%= link_to_remove_association fa_icon("minus"), f %>
</div>